<div>
	<div plane>
		<div item>
			<img src="/assets/images/index-background.png">
			<div>
				<h1>EPK</h1>
				<p>
					All in one document containing biography, releases, quotes, downloads, photos, images, videos, technical and contact details available publicly on Google Drive.					
				</p>
				<div>
					<div button>
						<a target="_blank" href="https://docs.google.com/document/d/1ruuHZpOFZ0kBbUF-4KWsuSS3Ks3faX9gydBXWLc8lBo/edit">
							<img src="/assets/images/google-drive.svg" alt="">
							Read
						</a>
					</div>
					<div button>
						<a target="_blank" href="https://drive.google.com/drive/u/0/folders/0ByxPbCtkhAD1RFdDejRvVGNiUFk">
							<img src="/assets/images/google-drive.svg" alt="">
							Browse
						</a>
					</div>
				</div>
			</div>
			<div links>
				<h1>Links</h1>
				<p>
					<a href="https://www.facebook.com/dreamgrave/" target="_blank"><img src="./assets/images/facebook.svg">Social</a>
					<a href="https://dreamgrave.bandcamp.com" target="_blank"><img src="./assets/images/bandcamp.svg">Shop & releases</a>
					<a href="https://www.youtube.com/user/dreamgraveofficial" target="_blank"><img src="./assets/images/youtube.svg">Videos</a>
					<a href="https://instagram.com/dreamgraveofficial/" target="_blank"><img src="./assets/images/instagram.svg">Photo stream & short videos</a>
					<a href="https://www.pinterest.com/dreamgrave" target="_blank"><img src="./assets/images/pinterest.svg">Press articles</a>
					<a href="https://drive.google.com/drive/u/0/folders/0ByxPbCtkhAD1RFdDejRvVGNiUFk" target="_blank"><img src="./assets/images/google-drive.svg">Press kit & downloads</a>
				</p>
			</div>
			<div>
				<h1>Contact</h1>
				<p>
					For booking, press and media enquiries please contact
					<br /><br />
					<a href="mailto:band@dreamgrave.com" target="_blank"><img src="./assets/images/newsletter.svg">band@dreamgrave.com</a>
					<a href="https://m.me/dgyimesi" target="_blank"><img src="./assets/images/messenger.svg">Dömötör Gyimesi</a>
					<a href="tel:+36304945899" target="_blank"><img src="./assets/images/phone.svg">+36 30 494 5899</a>
				</p>
			</div>
		</div>
	</div>
</div>