:host {
    width: 100%;
    justify-content: flex-start !important;
}

:host > div {
    flex: 1;
    justify-content: center;
    flex-direction: row;
}

/* TODO: planes are common translater elements, refactor other page components to use it */
:host > div > [plane] {
    transition: transform 1s;
}

:host > div > [plane] > [item] {
    justify-content: center;
    background-image: url('/assets/images/overlay.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
}

:host > div > [plane] > [item] > img {
    position: absolute;
    z-index: -1;
    align-self: center;
    height: inherit;
    /* TODO: opacity is component specific */
    opacity: .3;
}

:host > div > [plane] > [item] > div {
    align-self: center;
    flex-direction: column;
    width: 500px;
    height: 360px;
    justify-content: flex-start;
    padding: 0 50px;
}
/* TODO END */

:host > div > [plane] > [item] > div > div {
    flex-direction: row;
    justify-content: flex-end;
}

:host > div > [plane] > [item] [button] {
    min-width: 125px;
    border: 2px solid white;
    margin: 15px 0 0 25px;
    padding: 10px 15px;
    justify-content: center;
    color: white;
    cursor: pointer;
}

:host > div > [plane] > [item] [button] > a {
    opacity: 1;
    margin: 0;
}

:host > div > [plane] > [item] [button] > a > img {
    padding-right: 10px;
}

:host > div > [plane] > [item] p > a {
    opacity: .666;
}

:host > div > [plane] > [item] p > a:hover {
    opacity: 1;
}

:host > div > [plane] > [item] p > a > img {
    padding-right: 10px;
}