<div>
	<div plane [style.transform]="'translateX(' + (-selectedItemIndex * 100) + 'vw)'">
		<div home item>
			<img src="/assets/images/dreamgrave-castle-3.jpg">
			<div>
				<h1>Dreamgrave</h1>
				<p>Exploring the realm of our dreams in some ethereal balance, unrestrained by definable sound, but in a daunting storm of emotions.</p>
				<p>Site work is in progress. Check back regularly.</p>
			</div>
		</div>
		<div biography item>
			<img src="/assets/images/biography-background.jpg">
			<div>
				<img src="/assets/images/overlay-dreamgrave.png">
				<h1>Biography</h1>
				<p>
					DREAMGRAVE is Hungarian metal act, playing eclectic blend of progressive, gothic and neoclassical metal. Booted up in the
					end of 2012, to explore the realm of dreams in some ethereal balance, unrestrained by definable sound, but in a daunting
					storm of emotions. In the end of 2014 they've released the highly acclaimed debut concept album independently, titled
					'Presentiment', which had sit on top of Bandcamp's best-selling metal albums for two weeks, and been among of 2014's
					top albums at several magazines across the globe. After several line-up changes they now ready to hit the next level
					and tour Europe.
				</p>
				<p>
					Their sound marries traditional progressive metal with symphonic, gothic and strong influences from extreme metal. Featuring
					female soprano vocals alongside both clean male singing and death metal growls, the music bears influences from acts
					ranging from OPETH and PARADISE LOST to HAKEN.
				</p>
			</div>
			<div>
				<div button><a target="_blank" href="">Press kit</a></div>
				<div button><a target="_blank" href="https://pinterest.com/dreamgrave/reviews/">Reviews</a></div>
				<div button><a target="_blank" href="https://pinterest.com/dreamgrave/interviews/">Interviews</a></div>
				<div button><a target="_blank" href="https://pinterest.com/dreamgrave/awards/">Awards</a></div>
			</div>
		</div>
		<div members item>
			<wip></wip>
		</div>
	</div>
</div>